.titulo-3d {
    font-family: 'Arial orange', 'quick-sand', sans-serif; /* Fuentes modernas */
    font-size: 3.50rem;
    text-align: center;
    color: #fff200; /* Color principal */
    
    /* El truco del volumen: Sombra clara arriba y oscura abajo */
    text-shadow: 
      0 1px 0 #000000,
      0 2px 0 #ff7300,
      0 3px 0 #ff9100,
      0 4px 0 #ffb700,
      0 5px 0 #ff7b00,
      0 6px 1px rgba(0, 0, 0, 0.1),
      0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3),
      0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25);
      
    transition: all 0.3s ease; /* Para que se mueva suave */
  }

  .titulo-3d:hover {
    transform: scale(1.10); /* Efecto de que se acerca al pasar el mouse */
  }


  

  element.style {
}
.title {
    font-size: 3.2em;
    color: #000000;
    font-weight: 900;
    letter-spacing: -1px;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.header-main {
    text-align: center;
    padding: 25px 20px;
    border-bottom: 3px solid #ffc800;
}
body {
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
}
